<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>派遣人員-廠家媒合統計表</title>
<link rel="stylesheet" href="../src/css/bootstrap4.5.0.min.css">
<script src="../src/js/jquery-3.5.1.min.js"></script>
<script src="../src/js/axios.min.js"></script>
<script src="../src/js/vue.global.js"></script>
</head>
<body>
<div class="overlay" id="loadingOverlay">
    <div style="position: fixed;top:50%;right: 50%;">
        <div class="loader"></div>
        <div class="loading-message">Loading...</div>
    </div>
</div>
<div class="" id="app">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>派遣人員-廠家媒合 <b>統計報表</b></h2></div>
                </div>
            </div>
            <search
                :start_date="start_date"
                :end_date="end_date"
                :update_start_date="UpdateStartDate"
                :update_end_date="UpdateEndDate"
                :get_report="getReport"
                :creator_select="creators"
                :update_creator="UpdateCreator"
            ></search>
            <!-- 以下請補足程式碼  -->
            <report
                v-if="!isLoading"
            
            ></report>
            <!-- 以上請補足程式碼  -->
        </div>
    </div>  
</div>   

<template id="search">
    <div class="row" style="margin-bottom: 10px;">
        <div style="margin-right: 20px;">
            <label for="start_date">起始日期</label>
            <input v-model="start_date_text" type="date" name="start_date" id="start_date" required @input="update_start_date(start_date_text)">
        </div>
        <div style="margin-right: 20px;">
            <label for="end_date">結束日期</label>
            <input v-model="end_date_text" type="date" name="end_date" id="end_date" required @input="update_end_date(end_date_text)">
        </div>
        <div style="margin-right: 20px;">
            <label for="creator">人資專員</label>
            <!-- 以下請補足程式碼 -->
            <select class="form-group form-control-sm" @change="update_creator()">
            </select>
            <!-- 以上請補足程式碼 -->
        </div>
        <div style="margin-right: 25px;"><button class="form-control btn btn-primary" type="button" @click="get_report">查詢</button></div>
        <div style="margin-right: 10px;"><button class="form-control btn btn-secondary" type="button" @click="print">列印</button></div>
        <div style="margin-right: 10px;"><button class="form-control btn btn-outline-info" type="button" @click="toExcel">Excel</button></div>
    </div>
</template>

<template id="report">
    <table class="table table-striped table-hover table-bordered" id="report">
        <thead>
            <tr>
                <th>
                    {{ start_date }} ~ {{ end_date }}
                </th>
            <!-- 以下請補足程式碼 -->

                <th v-for="" v-else>
                    {{ key }}
                </th>
                <th colspan="4" style="text-align: center;">廠商總和</th>
            </tr>
            <tr>
                <th :style="{backgroundColor:'#fabf8f'}">
                    廠商
                </th>
                <template v-if="">
                    <td style="background-color:#d0f1bc">履歷</td>
                    <td style="background-color:#f1e1ab">面試</td>
                    <td style="background-color:#b5d2f5">報到</td>
                    <td style="background-color:#7aedf1">離職</td>
                </template>

            <!-- 以上請補足程式碼 -->
            </tr>
        </thead>
        <tbody>
            <!-- 表身 -->
            <tr v-for="company in companies" :key="company" v-show="company !== '測試'">
                <td>{{ company }}</td>

            <!-- 以下請補足程式碼 -->
                <template v-if="" >
                    <td style="background-color: #f6fff0;">{{ getReportValue() }}</td>
                    <td style="background-color: #f7f1de;">{{ getReportValue() }}</td>
                    <td style="background-color: #dce7f5;">{{ getReportValue() }}</td>
                    <td style="background-color: #d8eff0;">{{ getReportValue() }}</td>
                </template>
            <!-- 以上請補足程式碼 -->
            </tr>
        </tbody>
        <tfoot>
            <!-- 統計列 -->
            <tr>
                <td style="background-color:#f5e1b5">人員統計</td>

            <!-- 以下請補足程式碼 -->
                <template v-if="">
                    <td style="background-color:#d0f1bc">{{ getTotalForCreator() }}</td>
                    <td style="background-color:#f1e1ab">{{ getTotalForCreator() }}</td>
                    <td style="background-color:#b5d2f5">{{ getTotalForCreator() }}</td>
                    <td style="background-color:#7aedf1">{{ getTotalForCreator() }}</td>
                </template>

                <td style="background-color:#d0f1bc">{{ getGrandTotal() }}</td>
                <!-- 以上請補足程式碼 -->
            </tr>
        </tfoot>
    </table>
</template>

<script src="../src/js/xlsx.full.min.js"></script>
<script src="../src/js/datetime-format.js"></script>
<script src="./index.js"></script>

<style>
    @page {
        size: auto !important;
    }
    @media print {
        table.table td, table.table th {
            border: 2px solid black;
            font-weight: bold;
        }    
    }
    body {
        color: #566787;
        background: #f5f5f5;
        font-family: 'Roboto', sans-serif;
    }
    table.table {
        width: auto;
    }
    table.table th, table.table td {
        padding: 0.25rem;
    }
    .table-responsive {
        margin: 30px 0;
        display: inline;
    }
    .table-wrapper {
        min-width: 1000px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
        min-width: 100%;
    }
    .table-title h2 {
        margin: 8px 0 0;
        font-size: 22px;
    }
    .search-box {
        position: relative;
        float: right;
    }
    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }
    .search-box input:focus {
        border-color: #3FBAE4;
    }
    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }
    table.table tr th, table.table tr td {
        border-color: black;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
    }
    table.table td a.view {
        color: #03A9F4;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }    
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: black;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }
    .pagination li a:hover {
        color: #666;
    }    
    .pagination li.active a {
        background: #03A9F4;
        color: white;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
    .pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 25px;
        padding-top: 6px;
    }
    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }
    .form-control {
        width: auto;
    }
    .disabled {
        opacity: 0.75;
    }
    textarea {
        font-size: 14px;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
    .loading-message {
        margin-top: 20px;
        color: #fff;
    }
    .table > thead {
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    .table > thead:after{
        content: '';
        display: inline-block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #000;
    }
    .table > thead:before{
        content: '';
        display: inline-block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #000;
        top: 35px;
    }
    .table > tfoot {
        position: sticky;
        bottom: 0;
        background-color: #fff;
    }
    .table > tfoot:after{
        content: '';
        display: inline-block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #000;
    }
    .table > tfoot:before{
        content: '';
        display: inline-block;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #000;
        top: 35px;
    }
</style>
</html>
